.responsive-bottom-margin {
    margin-bottom: 15px
}

@media(min-width: 40.0625em) {
    .responsive-bottom-margin {
        margin-bottom: 50px
    }
}

.organisation-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin-top: 10px;
    padding: 0
}

.organisation-logos__logo {
    padding-bottom: 15px;
    margin-right: 15px;
    flex-basis: 25%;
    min-width: 130px
}

.content-bottom-margin {
    margin-bottom: 20px
}

@media(min-width: 40.0625em) {
    .content-bottom-margin {
        margin-bottom: 15px
    }
}

@media(min-width: 40.0625em)and (min-width: 40.0625em) {
    .content-bottom-margin {
        margin-bottom: 50px
    }
}

.metadata-logo-wrapper {
    border-top: 1px solid #b1b4b6;
    margin-left: 15px;
    margin-right: 15px
}

.metadata-logo-wrapper:after {
    content: "";
    display: block;
    clear: both
}

.metadata-logo-wrapper .metadata-column {
    padding-left: 0;
    padding-top: 15px
}

.metadata-logo-wrapper .metadata-logo {
    max-height: 90px;
    max-width: 100%;
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width: 40.0625em) {
    .metadata-logo-wrapper .metadata-logo {
        float: right
    }
}

.js-enabled .sticky-element {
    position: absolute;
    bottom: 0
}

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position: fixed
}

.js-enabled .sticky-element--enabled {
    transition: opacity, .3s, ease;
    opacity: 1
}

@media(max-width: 40.0525em) {
    .js-enabled .sticky-element--enabled {
        position: static
    }
}

.js-enabled .sticky-element--hidden {
    opacity: 0;
    pointer-events: none
}

.worldwide-organisation-header {
    margin-top: 15px;
    margin-bottom: 15px
}

.js-enabled .worldwide-organisation-header .show-other-content {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    margin-left: .3em;
    white-space: nowrap
}

@media print {
    .js-enabled .worldwide-organisation-header .show-other-content {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .js-enabled .worldwide-organisation-header .show-other-content {
        font-size: 14px;
        line-height: 1.4285714286
    }
}

@media print {
    .js-enabled .worldwide-organisation-header .show-other-content {
        font-size: 12pt;
        line-height: 1.2
    }
}

@media(min-width: 40.0625em) {
    .worldwide-organisation-header__logo {
        margin-top: 15px
    }
}

.worldwide-organisation-header__metadata {
    margin-top: 10px
}

.worldwide-organisation-header__metadata dl {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin-bottom: 15px;
    margin: 0
}

@media print {
    .worldwide-organisation-header__metadata dl {
        color: #000
    }
}

@media print {
    .worldwide-organisation-header__metadata dl {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .worldwide-organisation-header__metadata dl {
        font-size: 16px;
        line-height: 1.25
    }
}

@media print {
    .worldwide-organisation-header__metadata dl {
        font-size: 14pt;
        line-height: 1.2
    }
}

@media(min-width: 40.0625em) {
    .worldwide-organisation-header__metadata dl {
        margin-bottom: 20px
    }
}

@supports(display: grid) {
    .worldwide-organisation-header__metadata dl {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px
    }
}

.worldwide-organisation-header__metadata dl dt,
.worldwide-organisation-header__metadata dl dd {
    display: block;
    line-height: 1.5em;
    margin: 0
}

.worldwide-organisation-contact-section a {
    overflow-wrap: break-word;
    word-wrap: break-word
}

.worldwide-organisation-contact-section address {
    font-style: normal
}

.worldwide-organisation-contact-section address .adr {
    margin-block: 0
}

.corporate-information__sub-navigation ul {
    padding-inline-start: 0
}

@media(min-width: 1px) {
    .corporate-information__sub-navigation li {
        list-style: none;
        padding-left: 15px;
        padding-top: 5px
    }

    .corporate-information__sub-navigation li:before {
        content: "-";
        position: relative;
        float: left;
        width: 15px;
        margin-left: -15px
    }
}

.direction-rtl .case-study,
.direction-rtl .corporate-information-page,
.direction-rtl .detailed-guide,
.direction-rtl .html-publication,
.direction-rtl .news-article,
.direction-rtl .publication,
.direction-rtl .speech,
.direction-rtl .worldwide-organisation,
.direction-rtl .worldwide-corporate-information-page {
    direction: rtl;
    text-align: start
}

.direction-rtl .case-study table th,
.direction-rtl .corporate-information-page table th,
.direction-rtl .detailed-guide table th,
.direction-rtl .html-publication table th,
.direction-rtl .news-article table th,
.direction-rtl .publication table th,
.direction-rtl .speech table th,
.direction-rtl .worldwide-organisation table th,
.direction-rtl .worldwide-corporate-information-page table th {
    text-align: start
}

@media print {

    main[lang=ar],
    main[lang=he],
    main[lang=ur] {
        direction: rtl;
        text-align: start
    }
}