.gem-c-contents-list__list ul {
    padding-left: 0;
    list-style-type: none;
}

.gem-c-contents-list__list a {
    color: rgb(29, 112, 184);
    cursor: pointer;
    display: table;
    list-style-type: none;
    text-align: left;
    text-decoration-line: none;
    padding-bottom: 10px;
}

.gem-c-contents-list__list a:hover {
    color: darkblue;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}